.btn{
    background-color: #4CAF50;
}

body{
    background: #1488cc;
    background: -webkit-linear-gradient(267deg, #1488cc 0%, #2b32b2 100%);
    background: linear-gradient(267deg, #1488cc 0%, #2b32b2 100%);
}

.img{
    max-width: 120px;
}
